@model EjemploMVC.Models.SessionModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}



    <h1>   Universidad de Costa Rica</h1>

    <h4> Lenguajes para Aplicaciones Comerciales</h4>
<hr />
<div class="row">

    <h5>Examen 2</h5>
    <h5>Jose Quiros</h5>
</div>



