
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}

@*<h1>Index Producto @ViewData["id"]</h1>*@

@model String

<h1>Index Producto @Model</h1>

<p>
    Universidad de Costa Rica
    Sede del Atlántico
    Lenguajes para Aplicaciones Comerciales
    Examen II
</p>

